name: user-statistician

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Generate the user stats SVG
  uses: cicirello/user-statistician@v1
  with:
    colors: dark
    include-title: false
    image-file: images/userstats.svg
    commit-and-push: true
  env:
    GH_TOKEN: ${{ secrets.PULL_ALL_REPO_STATS }}

