name: user-statistician

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: false

      - name: Generate and commit stats SVG
        uses: cicirello/user-statistician@v1
        with:
          colors: dark
          include-title: false
          image-file: images/userstats.svg
          commit-and-push: true
        env:
          GITHUB_TOKEN: ${{ secrets.PULL_ALL_REPO_STATS }}
          GH_TOKEN: ${{ secrets.PULL_ALL_REPO_STATS }}
